body {
  margin: 0;
  text-align:center;
  font-family: 'Merriweather', serif;
}

h1 {
  color:#db996c;
  font-family: 'Caveat', cursive;
  font-weight:300;
  font-size:4.5rem;
  margin:50px 0 10px 0;
}

h2{
  color:#db996c;
  font-family: 'Montserrat', sans-serif;
  font-size:2rem;
  margin-bottom:40px;

}

h3{
  color:#6e7da2;
  font-family: 'Montserrat', sans-serif;
  font-size:1.25rem;

}

p{
  color:#6e7da2;
  font-family: 'Slabo 27px', serif;
  font-size:1.1em;
  letter-spacing:.5px;
  line-height:2.25;

}

.top-container {
  background-color: #fcf8f3;
  position:relative;
  padding-top:100px;
}

.bottom-container {
  background-color:#6e7da2;
  color:white;
  font-family: 'Montserrat', sans-serif;
  padding:30px 0;
}

.bottom-container a{
  text-decoration:none;
  color:white;
  padding:0 20px;
}

.bottom-container a:hover{
  color:#6e7da2;
}

.bottom-container p{
  color:white;
}

.top-cloud{
  right:300px;
  top:70px;
  position:absolute;
}

.bottom-cloud{
  position:absolute;
  left:300px;
}

.profile{
  width:50%;
  margin:50px auto 100px auto;
}

.skill-row-top{
  width:50%;
  margin:0 auto 100px auto;
  text-align:left;
}

.skill-row{
  width:50%;
  margin:100px auto;
  text-align:left;
}

.design-img{
  float:left;
  margin:20px;
}

.cooking-img{
  float:right;
  margin:20px;
}

.hr-style{
  border-top:10px dotted #aedadd;
  border-right:0;
  border-left:0;
  border-bottom:0;
  width:100px;
  margin-bottom:85px;
  clear:both;
}

.butn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #db996c;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display:block;
  max-width:200px;
  margin:80px auto;
  box-shadow: 0 6px 30px 0 #ababab;
}

.butn:hover {
  background: #6e7da2;
  text-decoration: none;
}

.contact-me{
  margin:50px 0 120px 0;
}
